<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="{{cookiecutter.description}}" />

    <title>{{cookiecutter.project_name|e}}</title>

    {% raw -%}
    {% if debug -%}
      <link rel="stylesheet" type="text/css" href="styles/main.css" />
    {% else -%}
      <link rel="stylesheet" type="text/css" href="index.min.css" />
    {% endif %}
    {%- endraw %}

  </head>
  <body>
    <div class="logo"></div>
    <div class="yell">
      <h1>You are awesome!</h1>
      <p>
        This project template is made of crap and sticks, but still could be fixed.
      </p>
      <p>
        <a href="#" id="links-expander" class="expander">
          Take some links
        </a>
      </p>
      <ul id="links-list" class="hidden">
        <li>
          <a href="https://github.com/audreyr/cookiecutter">Cookiecutter</a> &mdash;
          you probably know it already
        </li>
        <li>
          <a href="https://github.com/twigjs/twig.js">Twig.js</a> &mdash;
          powerfull templating engine
        </li>
        <li>
          <a href="http://coffeescript.org/">CoffeeScript</a> &mdash;
          fancy JS preprocessor
        </li>
      </ul>
    </div>

    {% raw -%}
    {% if debug -%}
      <script type="text/javascript" src="scripts/index.js"></script>
    {% else -%}
      <script type="text/javascript" src="index.min.js"></script>
    {% endif %}
    {%- endraw %}
    
  </body>
</html>
