<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="{{cookiecutter.description}}" />

    <title>{{cookiecutter.project_name|e}}</title>

    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <div class="yell">
      <h1>You are awesome!</h1>
      <p>
        This project template is made of crap and sticks, but still could be fixed.
      </p>
      <ul>
        <li>
          <a href="https://github.com/audreyr/cookiecutter">Cookiecutter</a> &mdash;
          you probably know it already
        </li>
        <li>
          <a href="https://github.com/twigjs/twig.js">Twig.js</a> &mdash;
          powerfull templating engine
        </li>
        <li>
          <a href="http://coffeescript.org/">CoffeeScript</a> &mdash;
          fancy JS preprocessor
        </li>
      </ul>
    </div>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
